#modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px;
  gap: 100px;
  z-index: 1000;
  transform: translateX(-100%);
  transition: transform 0.8s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.6s;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
#modal.open {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.profile {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.profile img {
  width: 100%;
  height: 60%;
  object-fit: cover;
  border-radius: 25px;
}
.profile span {
  font-size: 32px;
  line-height: 1.25;
}
.line {
  width: 1px;
  height: 100%;
  background-color: #aaa;
}
.info {
  flex: 4;
  height: 100%;
  display: flex;
  gap: 50px;
}
.info-left,
.info-right {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.info-left .left-item,
.info-right .right-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.info-left .left-item h2,
.info-right .right-item h2 {
  flex: 1;
  font-size: 24px;
}

.lists {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.lists span {
  font-size: 20px;
}
.list {
  position: relative;
}
.list span {
  font-size: 20px;
}
.list p {
  font-size: 16px;
  color: #a0a0a0;
}
.icons {
  display: flex;
  gap: 12px;
}

.modal-close-btn {
  position: absolute;
  top: 25px;
  right: 50px;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
